.item{
    width: 30%;
    float: left;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 2px 5px 5px grey;
}

.item img{
    width: 100%;
    border-radius: 10px;
}

.item h4{
    text-align: center;
}

.item button{
    width: 30%;
    background-color: chocolate;
    color: white;
    border: none;
    margin-left: 35%;
    margin-bottom: 2%;
    padding: 5px;
    border-radius: 30px;
}

.search-input{
    width: 30%;
    margin-left: 35%;
    padding: 10px;
    margin-bottom: 10px;
}